* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_2 {
  width: 100%;
  height: 1024px;
  background: linear-gradient(rgba(29,27,40,1), rgba(9,9,10,0.3256593346595764));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v4_16 {
  width: 100%;
  height: 96px;
  background: rgba(56,56,56,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 410px;
  overflow: hidden;
}
.v4_4 {
  width: 408px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 223px;
  left: 142px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v4_18 {
  width: 618px;
  height: 984px;
  background: url("../images/v4_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 783px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v4_6 {
  width: 815px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 439px;
  left: 48px;
  font-family: Roboto;
  font-weight: Condensed Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v4_9 {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 546px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v4_11 {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 670px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v4_12 {
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 797px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v4_13 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25px;
  left: 962px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v4_14 {
  width: 113px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 1288px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v4_15 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 1120px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v17_4 {
  width: 408px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 223px;
  left: 142px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v17_6 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 307px;
  left: 142px;
  font-family: Antonio;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v22_4 {
  width: 372px;
  height: 78px;
  background: rgba(220,158,101,1);
  opacity: 1;
  position: absolute;
  top: 572px;
  left: 190px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 53px;
  border-top-right-radius: 53px;
  border-bottom-left-radius: 53px;
  border-bottom-right-radius: 53px;
  overflow: hidden;
}
.v22_5 {
  width: 236px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 587px;
  left: 258px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
